body {
      background-color: #6699ff;
    
    }

h1 {
    margin: 5px;
    font-size: 40px;
    padding-bottom: 12.5px;
    
}
h2 {
    font-size:15px;
    margin: 5px;
    margin-bottom: 7.5px;
}



p {
    margin 0;
    font-size:7.5px;
}


footer {
    object-position: bottom;
    bottom: 0;
    left 0;
    overflow: hidden;
    position: fixed; 
    margin-left: 5px;
     
}

.linkstome {
    
    font-size:15px;
    margin: 5px;
    margin-bottom: 7.5px;
    
}

header {
    
    margin-left: 5px;
    font-size: 5px;
}

/* Link colors and settings */

a:link{
    
}

a:visited{
    
}

a:hover{
    
}
a:active{
    
}