/* RedditMCstatus CSS File  */

body {
    background-color: rgb(53, 47, 68);
    font-family: Lucida Sans Unicode;
}

h1 {
    background-color: rgba(15, 199, 209, 50);
    font: Lucida Console;
    color: black;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

